//Define pallete
$md-rblue: (
  50: #e0edf9,
  100: #b3d1f0,
  200: #80b3e6,
  300: #4d94db,
  400: #267dd4,
  500: #0066cc,
  600: #005ec7,
  700: #0053c0,
  800: #0049b9,
  900: #0038ad,
  A100: #d7e1ff,
  A200: #a4baff,
  A400: #7194ff,
  A700: #5881ff,
  contrast: (50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  )
);

$md-ryellow: (
  50: #fff8e6,
  100: #ffeec0,
  200: #ffe396,
  300: #ffd86b,
  400: #ffcf4c,
  500: #ffc72c,
  600: #ffc127,
  700: #ffba21,
  800: #ffb31b,
  900: #ffa610,
  A100: #fff68b,
  A200: #f9ee67,
  A400: #ffe818,
  A700: #ffe300,
  contrast: (50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  )
);

$md-rred: (
  50: #fce0e9,
  100: #f7b3c8,
  200: #f280a3,
  300: #ec4d7e,
  400: #e82662,
  500: #e40046,
  600: #e1003f,
  700: #dd0037,
  800: #d9002f,
  900: #d10020,
  A100: #ffa9c1,
  A200: #ff6c95,
  A400: #ff5283,
  A700: #ff4378,
  contrast: (50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  )
);